<div id="mainparent">
  <div id="introduction">
    <div id="headingmain">Tamil Transcription Service</div>
    <div id="p1">Save time transcribing your Tamil audio to text.</div>
    <div id="p2">
      Create accurate transcripts easily with our Tamil transcription service!!
    </div>
    <img id="transcriptionimg" src="assets/transcription.png" />
    <div>
        <a id="transcribeBtn" mdbBtn color="primary" mdbWavesEffect routerLink="/fileUpload">Get Transcript</a>
    </div>
  </div>
</div>
