<div>
 <!-- <div id="cardTitle">Features</div> -->
  <!-- <div id="container">
 <div id="section1">
   <img id="uploadAudio" src="assets/opensource.png" /><br>
   <div id="section1Title">Fully Open-Source</div>
   <div id="section1desc">All components used are open source</div>
   </div>
 <div id="section2">
   <img id="clickBtn" src="assets/deepl.jpg" /><br>
   <div id="section2Title">Deep Learning Based</div>
   <div id="section2desc">Levereging deep learning for accurate transcriptions</div>
 </div>
 <div id="section3">
   <img id="tamilword" src="assets/anytime.png" /><br>
   <div id="section3Title">Transcript</div>
   <div id="section3desc">Available anytime, anywhere</div>
 </div> -->
 <div id="featuresparent">
 <table>
   <tr>
     <td> <img id="uploadAudio" src="assets/opensource.png" /></td>
     <td>
       <div id="featuresheader">Fully Open-Source</div>
       <div>All components used are open source</div>
     </td>
   </tr>
   <tr id="featuredesc">
    <td>
      <div id="featuresheader">Deep Learning Based</div>
      <div>Levereging deep learning for accurate transcriptions</div>
    </td>
    <td> <img id="clickBtn" src="assets/deepl.png" /></td>
  </tr>
  <tr>
    <td> <img id="tamilword" src="assets/anytime.png" /></td>
    <td>
      <div id="featuresheader">Transcript</div>
      <div>Available anytime, anywhere</div>
    </td>
  </tr>

 </table>
</div>
 </div>
 <!-- </div> -->
