#header {
  margin-left: 500px;
  font-size: 30px;
  font-weight: bold;
}
#fileUpload{
   margin-top: 5%;
   margin-left: 40%;
}
#submitbtn{
  background-color:darksalmon;
  margin-left:40%;
  margin-top:2%;
  padding: 0.5%;
  border: 1px solid rgb(236, 64, 6);
}

#pbLoading {
  background: rgba(0,0,0,0.5) url('http://i.imgur.com/HEAD5PU.gif') center no-repeat;
  position: fixed;
  z-index: 3;
  left: 0px;
  top: 0px;
  height:100%;
  width:100%;
}

#transcriptframe{
  margin-left: 60px;
  margin-top:30px;
  height:80px;
  overflow-y: auto;
  width:90%;
  /* border:none; */
}
#card {
  position: fixed;
  width: 90%;
  height: 50%;
  border-radius: 8px;
  background-color: rgb(210, 233, 240);
  margin-top: 5%;
  margin-left: 5%;
}
#deleteIcon {
  width: 25px;
  height: 25px;
  /* margin-Left: 40%; */
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #32cd32;
  border: 2px solid #006400;
}
